# Copyright The Zephyr Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_M1S_DOCK
	select SOC_BL808C09Q2I
	select SOC_BL808C09Q2I_M0 if BOARD_M1S_DOCK_BL808C09Q2I_M0
	select SOC_BL808C09Q2I_D0 if BOARD_M1S_DOCK_BL808C09Q2I_D0
	select SOC_BL808C09Q2I_LP if BOARD_M1S_DOCK_BL808C09Q2I_LP
