# Copyright The Zephyr Project Contributors
#
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_BL808
	bool
	select SOC_FAMILY_BFLB
	help
	  Enable support for BouffaloLab BL808 MCU series

config SOC_SERIES
	default "bl808" if SOC_SERIES_BL808

config SOC_BL808C09Q2I
	bool
	select SOC_SERIES_BL808

config SOC_BL808D09Q2I
	bool
	select SOC_SERIES_BL808

config SOC_BL808C09Q2I_M0
	bool
	select SOC_BL808C09Q2I
	select SOC_BL808_M0

config SOC_BL808C09Q2I_D0
	bool
	select SOC_BL808C09Q2I
	select SOC_BL808_D0

config SOC_BL808D09Q2I_M0
	bool
	select SOC_BL808D09Q2I
	select SOC_BL808_M0

config SOC_BL808D09Q2I_D0
	bool
	select SOC_BL808D09Q2I
	select SOC_BL808_D0

config SOC_BL808C09Q2I_LP
	bool
	select SOC_BL808C09Q2I
	select SOC_BL808_LP

config SOC_BL808D09Q2I_LP
	bool
	select SOC_BL808D09Q2I
	select SOC_BL808_LP

config SOC_BL808_M0
	bool
	help
	  BL808 M0 core (T-Head E907, RV32IMAFC)

config SOC_BL808_D0
	bool
	help
	  BL808 D0 core (T-Head C906, RV64IMAFDC)

config SOC_BL808_LP
	bool
	help
	  BL808 LP core (T-Head E902, RV32EMC)

config SOC
	default "bl808c09q2i" if SOC_BL808C09Q2I
	default "bl808d09q2i" if SOC_BL808D09Q2I
