# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config UDC_BFLB_BL808X
	bool "Bouffalo Lab BL808x USB device controller driver"
	default y
	depends on DT_HAS_BFLB_BL808X_UDC_ENABLED
	select EVENTS
	select UDC_DRIVER_HAS_HIGH_SPEED_SUPPORT
	help
	  USB 2.0 device controller for BL808x SoCs.
	  The current driver supports high-speed operation and exposes
	  EP0 plus four shared DMA-backed data endpoints.

if UDC_BFLB_BL808X

config UDC_BFLB_BL808X_STACK_SIZE
	int "BL808x UDC driver internal thread stack size"
	default 1024

config UDC_BFLB_BL808X_THREAD_PRIORITY
	int "BL808x UDC driver internal thread priority"
	default 8

config UDC_BFLB_BL808X_EVENT_COUNT
	int "Number of blocks in event slab"
	range 8 32
	default 16

endif # UDC_BFLB_BL808X
