# Copyright The Zephyr Project Contributors
# SPDX-License-Identifier: Apache-2.0

config HTU41D
	bool "HTU41D Humidity and Temperature Sensor"
	default y
	depends on DT_HAS_MEAS_HTU41D_ENABLED
	select I2C
	select CRC
	help
	  Enable driver for the TE Connectivity HTU41D digital
	  humidity and temperature sensor over I2C.
